body {
  background-color: black;
}

.white_container {
  color: white;
  margin-top: -10%;
  padding-left: 10%;
  font-weight: bold;
  letter-spacing: 13px;
}

#pi {
  font-size: 38em;
}

#rest {
  font-size: 16em;
}