body {
  background-image: url('./background.jpg');
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-content: center;
  vertical-align: center;
}

.white_container {
  color: white;
  margin-top: 3%;
  margin-left: 13%;
  font-weight: bold;
  letter-spacing: 13px;
  width: 100%;
  height: 100%;
}

.messages {
  font-size: 13em;
  text-transform: uppercase;
}

#message1 {
  
}

#message2 {
 
}

#message3 {
 
}

