body {
/*  font-family: Helvetica;*/
  background-image: url('./background.avif');
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: center;
  align-content: center;
}

.black_container {
  margin-top: 5%;
  margin-left: 1%;
  color: Yellow;
  font-weight: bold;
  letter-spacing: 13px;
  width: 100%;
  height: 100%;
}

#she {
  font-size: 30em;
  font-weight: bold;
}

#revo_pizdec {
  font-size: 22em;
  font-weight: bold;
}