@font-face {
  font-family: 'runaway';
  src: url('font.otf') format('otf')
}

body {
  font-family: 'runaway', Arial, sans-serif;
  font-weight: bold;
  background-color: #E9444B; 
  color: white;
}

#runaway {
/*  align vertically and horizontally */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

/*                end                 */

  text-transform: uppercase;
  font-size: 15em;
}