body {
  margin-left: 8%;
  margin-top: 18%;
  background-color: black;
}

#void {
  width: 50%;  
  margin: auto;
  width: 50%;
  padding: 10px;
}

#text {
  color: white;
  font-size: 13em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: serif;
}
